<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="localhost.WSUNOEE" value="http://localhost:53791/WSUNOEE/WSUNOEE.asmx"/> -->
    <add key="Path_ImpoDatos" value="C:\SiesaEE\UnoEE\Utiles\" />
    <add key="Path_SIESACFDEE" value="C:\SiesaEE\UnoEE\Utiles\SiesaCFD\" />
    <!--<add key="GenerateLog" value="1"/> -->
    <!--<add key="NoConectorEliminar" value="1"/> -->
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="Pruebas" connectionString="RGF0YSBTb3VyY2U9U1JWU0lFU0EtUFJVRTtVc2VyIElEPVNpZXNhO1Bhc3N3b3JkPVNhMTIzNDU2O0luaXRpYWwgQ2F0YWxvZz11bm9lZV9wcnVlYmFzO01heCBQb29sIFNpemU9MTAwMDA=" providerName="MC0x" />
  </connectionStrings>
</configuration>