::ng-deep .ui-contextmenu .ui-menuitem.ui-menuitem-active>.ui-menuitem-link {
    background-color: var(--bg-conaltura-dark) !important;
    color: white !important;
}

:host::ng-deep body .ui-contextmenu .ui-menuitem.ui-menuitem-active>.ui-menuitem-link {
    background-color: var(--bg-conaltura-dark) !important;
    color: white !important;
}

::ng-deep body .ui-contextmenu .ui-menuitem-link:not(.ui-state-disabled):hover {
    background-color: var(--bg-conaltura-dark) !important;
    color: white !important;
}

::ng-deep body .ui-contextmenu .ui-menuitem-link {
    background-color: var(--bg-conaltura-dark) !important;
    color: white !important;
}

::ng-deepspan.ui-menuitem-icon.ng-star-inserted {
    color: white !important;
}

::ng-deep span.ui-menuitem-text {
    color: white !important;
}

td {
    font-size: 12px !important;
}
::ng-deep .ui-menuitem-link.ui-corner-all.ng-star-inserted{
    white-space: nowrap !important;
}
::ng-deep .ui-contextmenu ul {
    width: fit-content;
    min-width: 100%;
}
::ng-deep body .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: transparent !important;
}
::ng-deep .ui-table-scrollable-body.ng-star-inserted {
    height: fit-content !important;
    max-height: 340px !important;
}
::ng-deep .ui-table-scrollable-header-box {
    padding-right: 15px !important;
    margin-left: 0px !important;
}
