<app-loading *ngIf="isLoading"></app-loading>
<div class="">
    <div class="col-md-12 ">
        <div class="row">
            <div class="col-md-12 mb-0 " *ngIf="titulo">
                <h2 class="text-conaltura">
                    {{titulo}}
                </h2>
            </div>
            <div class="col-md-12 mb-2 mt-0" *ngIf="subtitulo">
                <h4 class="text-conaltura-dark">
                    {{subtitulo}}
                </h4>
            </div>
            <div class="col-md-12 mb-2" *ngIf="parrafo">
                <label>
                    {{parrafo}}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card" id="tableDynamic">
            <p-contextMenu #cm appendTo="body" [model]="itemsContextoMenuInitial"
                class="bg-conaltura-dark text-white"></p-contextMenu>
            <p-table #dt1 (onFilter)="onFilter($event, dt1)" dataKey="id" 
                [tableStyle]="{'min-width': '100%'}"
                [(contextMenuSelection)]="columnaMenu" [contextMenu]="cm" [columns]="selectedColumns"
                [value]="datostabla" [resizableColumns]="true" columnResizeMode="expand"
                styleClass=" p-datatable-borderless p-datatable-sm w-100"
                [tableStyle]="{backgroundColor:'var(--highlight-bg)', 'min-width': '100%'}" [paginator]="true"
                [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Monstrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[10, 20, 25, 50]" [style]="{width:'92vw'}" 
                [globalFilterFields]="objFilters">
                <ng-template pTemplate="caption">
                    <div class="row px-0 mx-0">
                        <div class="col-2 text-left p-0 " *ngIf="persistenciaDatos">
                           
                        </div>
                        <div class="col-2 text-left p-0 " *ngIf="buscador">
                            <span class="p-input-icon-left ml-auto">
                                <input #globalFilter pInputText type="text"
                                    (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                            </span>
                        </div>
                        <div class="col p-0 text-left " *ngIf="botonesAdicionales.length">
                            <div class="col-12 p-0">
                                <ng-container *ngFor="let boton of botonesAdicionales">
                                    <a class="btn btn-sm ml-2 mr-0"
                                        [ngClass]="boton.class ? boton.class : 'btn-conaltura-dark'"
                                        (click)="enviarA(boton.url,0)">
                                        <i [class]="boton.icon" *ngIf="boton.icon"></i> {{boton.descripcion}}
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-1 d-flex flex-row" *ngIf="exportar">
                            <!-- <button type="button" pButton pRipple icon="pi pi-file" (click)="dt1.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                                style="background-color: var(--success) !important;" class="bnt-success mr-2"
                                pTooltip="XLS" tooltipPosition="bottom"></button>
                            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                                style="background-color: var(--warning) !important;" class="btn-warning mr-2"
                                pTooltip="PDF" tooltipPosition="bottom"></button> -->
                        </div>
                        <div class="col-2" *ngIf="clumnasVisibles">
                            <p-multiSelect [options]="cols" [ngModel]="selectedColumns"
                                (ngModelChange)="selectedColumns = $event;sendColumnsSesion()" optionLabel="header"
                                selectedItemsLabel="{0} Seleccionadas" [style]="{'min-width': '200px'}"
                                placeholder="Seleccion"></p-multiSelect>
                        </div>

                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <!-- <col style="width:250px" /> -->
                        <ng-container *ngFor="let col of columns">
                            <col [style.width]="col.px!='auto' ? col.px+'px' : 'auto'" />
                        </ng-container>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr class="bg-conaltura" *ngIf="!columnasgrupo">
                        <th *ngFor="let col of columns" pSortableColumn="{{col.field}}" pResizableColumn
                            class="bg-conaltura text-white" ngClass="col.class" [ngStyle]="parseStyle(col.style)"
                            [title]="col.tooltip">
                            <div class="flex align-items-center">
                                {{col.header}}
                                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                    <ng-container *ngIf="columnasgrupo">
                        <ng-container *ngFor="let grupos of columnasgrupo">
                            <tr class="bg-conaltura grupos">
                                <th *ngFor="let col of grupos" [attr.rowspan]="col.rowspan" [attr.colspan]="col.colspan"
                                    pResizableColumn class="bg-conaltura text-white" ngClass="col.class"
                                    [ngStyle]="parseStyle(col.style)" [title]="col.tooltip">
                                    <div class="flex align-items-center">
                                        {{col.name}}
                                    </div>
                                </th>
                            </tr>
                        </ng-container>
                    </ng-container>

                    <tr *ngIf="columnasBurcador">
                        <th *ngFor="let col of columns">
                            <input type="text" pInputText type="text" pResizableColumn
                                (input)="dt1.filter($event.target.value, col.field, 'contains')"
                                [placeholder]="col.header" class="w-100" />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="cursor-contextmenu">
                        <td *ngFor="let col of columns" [ngClass]="col.class" [ngStyle]="parseStyle(col.style)"
                            [pContextMenuRow]="rowData" (contextmenu)="onCellRightClick($event, col, rowData)">
                            <ng-container *ngIf="validDato(rowData[col.field]) == 'url'">
                                <ng-container *ngIf="partirUrl(rowData[col.field],1).toLowerCase().includes('fa')">
                                    <a class="btn btn-sm "
                                        [ngClass]="partirUrl(rowData[col.field],2)? partirUrl(rowData[col.field],2) :'bg-conaltura-dark '"
                                        (click)="enviarA(rowData[col.field],0)">
                                        <i [class]="partirUrl(rowData[col.field],1).toLowerCase()"></i>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="!partirUrl(rowData[col.field],1).toLowerCase().includes('fa')">
                                    <ng-container [ngSwitch]="partirUrl(rowData[col.field],1).toLowerCase()">
                                        <a *ngSwitchCase="'editar'" class="btn btn-sm btn-warning"
                                            (click)="enviarA(rowData[col.field],0)">
                                            <i class="fas fa-edit" [title]="partirUrl(rowData[col.field],1)"></i>
                                        </a>
                                        <a *ngSwitchCase="'copiar'" class="btn btn-sm btn-warning"
                                            (click)="enviarA(rowData[col.field],0)">
                                            <i class="fas fa-copy" [title]="partirUrl(rowData[col.field],1)"></i>
                                        </a>
                                        <a *ngSwitchCase="'eliminar'" class="btn btn-sm btn-danger"
                                            (click)="enviarA(rowData[col.field],0)">
                                            <i class="fas fa-trash" [title]="partirUrl(rowData[col.field],1)"></i>
                                        </a>
                                        <a *ngSwitchCase="'preguntas'" class="btn btn-sm btn-conaltura-dark"
                                            (click)="enviarA(rowData[col.field],0)">
                                            <i class="fas fa-question" [title]="partirUrl(rowData[col.field],1)"></i>
                                        </a>
                                        <a *ngSwitchCase="'roles'" class="btn btn-sm btn-conaltura-dark"
                                            (click)="enviarA(rowData[col.field],0)">
                                            <i class="fas fa-users" [title]="partirUrl(rowData[col.field],1)"></i>
                                        </a>
                                        <a *ngSwitchDefault class="btn btn-sm btn-conaltura-dark"
                                            (click)="enviarA(rowData[col.field],0)">
                                            {{partirUrl(rowData[col.field],1)}}
                                        </a>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="validDato(rowData[col.field]) == 'text'">
                                {{ rowData[col.field] }}
                            </ng-container>
                            <ng-container *ngIf="validDato(rowData[col.field]) == 'color'">
                                <div class="semaforo" [style.background]="rowData[col.field]"></div>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
                <!-- 👇 Aquí va el footer -->
                <ng-template pTemplate="footer" let-columns>
                    <tr *ngIf="footerColumns && footerColumns.length > 0">
                        <td *ngFor="let col of columns" class="bg-light">
                            <ng-container *ngIf="hasFooter(col.field)">
                                <ng-container [ngSwitch]="getFooterFormato(col.field)">
                                    <!-- formato number -->
                                    <span *ngSwitchCase="'number'">
                                        {{ getFooterValue(col.field) | number:'1.0-2' }}
                                    </span>

                                    <!-- formato currency -->
                                    <span *ngSwitchCase="'money'">
                                        {{ getFooterValue(col.field) | currency:'USD':'symbol':'1.0-2' }}
                                    </span>

                                    <!-- formato currency -->
                                    <span *ngSwitchCase="'percent'">
                                        {{ getFooterValue(col.field) + '%' }}
                                    </span>

                                    <!-- formato default (texto plano) -->
                                    <span *ngSwitchDefault>
                                        {{ getFooterValue(col.field) }}
                                    </span>
                                </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>



<!-- modal -->
<div class="modal fade" id="modalBotonModalTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" style="height: 90%;" role="document">
        <div class="modal-content" style="min-height: 100%;">
            <div class="modal-body">
                <iframe [src]="src_buton | safe:'url'" [id]="'table-dynamic-'+uniqueId" width="100%"
                    style="height: 85vh;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>